@page "/{culture}/Auth/Login/Components/LoginByUsernamePassword"
@model PrancaBeauty.WebApp.Pages.Auth.Login.Components.CompoLoginUsernamePasswordModelModel
<div class="account_form">
    <h2>@Localizer["LoginByUserNamePassword"]</h2>
    <form method="post" id="compo_Login" asp-antiforgery="false">
        <p>
            <label asp-for="Input.Email"></label>
            <input type="text" autocomplete="off" asp-for="Input.Email" class="text-left">
        </p>
        <p>
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="text-left">
        </p>
        <div class="login_submit">
            <a onclick="LoginByEmailLink()" href="#LoginEmailLink">@Localizer["LoginByEmailLink"]</a>
            <br />
            <br>
            <a href="#">@Localizer["LostYourPassword?"]</a>
            <label asp-for="Input.RemmeberMe">
                <input asp-for="Input.RemmeberMe">
                @Localizer["RemmeberMe"]
            </label>
            <button onclick="SendForm('/@ViewData["Culture"]/Auth/Login/Components/LoginByUsernamePassword', 'compo_Login')"
                    type="button">
                @Localizer["Login"]
            </button>
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {
        $('#Input_PhoneNumber').inputmask({
            regex: '@Localizer["MobilePattern"]',
            placeholder: ''
        });

    });




    function LoginByEmailLink() {
        LoadComponenet('/@ViewData["Culture"]/Auth/Login/Components/CompoLoginEmailLink', { ReturnUrl: null }, function (data) {
            $('#CompoLogin').html(data);
        });
    }

</script>
